*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.sublime-workspace
.*
.Python
Gruntfile.js
bin
bower_components
buildout.cfg
develop-eggs
devpackages
documentation/
include
lib
lib64
local
node_modules
package.json
parts
pip-selfcheck.json
python
relstorage-export.cfg
relstorage-import.cfg
relstorage-pack.cfg
resources/
src
src-*
src-*
temp_resources/
transmogrifier-overrides.cfg
var
# exclude
!.gitattributes
!.gitignore
!.travis.yml
